*{
  padding:0;
  margin:0;
  font: 10px Arial, Helvetica ,sans-serif;
}
header{
  padding: 1em;
}
nav{
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.articulos li{
  padding:1em;
}
.articulos img{
  margin: 1em;
  max-width: 400px;

}
#noticias, #principal, #secundario, #publicidad{
  padding:0.5em;
  color:red;
}
#secundario{
  margin-top: 1em; 

}
#pie{
  margin-top:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}